-- REFERENTIAL CONSTRAINT CHECKS
INSERT INTO EMPLOYEE (EMP_ID, EMP_LNAME, EMP_FNAME, POS_ID, DEP_ID) VALUES (6700, 'TIM', 'TIMOTHY', 76, 1000);
INSERT INTO ROOM (ROOM_ID, DEP_ID) VALUES (889, 1123);
INSERT INTO POSITION (POS_ID, DEP_ID, POS_NAME) VALUES (889, 2929, 'MECHANIC');

-- NOT NULL CONSTRAINT CHECKS
INSERT INTO POSITION (POS_ID) VALUES (12);
INSERT INTO PRESCRIPTION (PRE_ID) VALUES (67);
INSERT INTO DEPARTMENT (DEP_ID) VALUES (9);

-- CHECK CONSTRAINT CHECKS
INSERT INTO INVOICE VALUES (88, 1, -1, TO_DATE('12-APR-2026', 'DD-MON-YYYY'));
INSERT INTO DEPARTMENT VALUES (989, 'MOVIE', '888 MOVIE STR', -997);
INSERT INTO ROOM VALUES (89, 1000, 'OPEN', 'ICU', -9);

-- PRIMARY KEY CONSTRAINT CHECKS
INSERT INTO INVOICE VALUES (100, 1, 87, TO_DATE('12-APR-2026', 'DD-MON-YYYY'));
INSERT INTO INVOICE VALUES (NULL, 1, 87, TO_DATE('12-APR-2026', 'DD-MON-YYYY'));